<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DRGlobal.BLL.Properties.Settings.DRProjetoConnectionString" connectionString="Data Source=DARLANPC\SQLEXPRESS;Initial Catalog=DRProjeto;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DRGlobal.BLL.Properties.Settings.SGFOCConnectionString" connectionString="Data Source=DARLANPC\SQLEXPRESS;Initial Catalog=SGFOC;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
