USE [SGFOC]
GO
/****** Object:  Table [dbo].[DRINVESTIDORES]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRINVESTIDORES](
	[CODINVESTIDOR] [int] NOT NULL,
	[NOME] [varchar](60) NULL,
	[CPF] [varchar](20) NULL,
	[RG] [varchar](20) NULL,
	[CEP] [varchar](9) NULL,
	[ENDERECO] [varchar](60) NULL,
	[NUMERO] [varchar](8) NULL,
	[COMPLEMENTO] [varchar](30) NULL,
	[BAIRRO] [varchar](60) NULL,
	[CIDADE] [varchar](60) NULL,
	[ESTADO] [char](10) NULL,
	[TELEFONE] [varchar](15) NULL,
	[CELULAR] [varchar](15) NULL,
	[FAX] [varchar](15) NULL,
	[EMAIL] [varchar](60) NULL,
	[DATANASCIMENTO] [datetime] NULL,
	[OBS] [varchar](200) NULL,
 CONSTRAINT [PK_DRINVESTIDORES] PRIMARY KEY CLUSTERED 
(
	[CODINVESTIDOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRUSUARIO]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRUSUARIO](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](60) NULL,
	[USUARIO] [varchar](10) NULL,
	[SENHA] [varchar](10) NULL,
	[USUARIOSUPERVISOR] [bit] NULL,
	[LOGACODIGOPRJ] [int] NULL,
 CONSTRAINT [PK_DRUSUARIO] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRGERAAUTOINC]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRGERAAUTOINC](
	[IDAUTOINC] [int] IDENTITY(1,1) NOT NULL,
	[IDENTIFICADOR] [varchar](60) NULL,
	[VALOR] [int] NULL,
 CONSTRAINT [PK_DRGERAAUTOINC] PRIMARY KEY CLUSTERED 
(
	[IDAUTOINC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRPROJETO]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRPROJETO](
	[CODIGOPRJ] [int] NOT NULL,
	[NOME] [varchar](60) NULL,
	[DATAINICIO] [datetime] NULL,
	[DATAFIN] [datetime] NULL,
	[ENDERECO] [varchar](50) NULL,
	[NUMERO] [int] NULL,
	[COMPLEMENTO] [varchar](15) NULL,
	[BAIRRO] [varchar](40) NULL,
	[CIDADE] [varchar](50) NULL,
	[ESTADO] [varchar](2) NULL,
	[CEP] [varchar](13) NULL,
	[DATALASTBCK] [datetime] NULL,
 CONSTRAINT [PK_DRPROJETO] PRIMARY KEY CLUSTERED 
(
	[CODIGOPRJ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRFILTRO]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRFILTRO](
	[IDFILTRO] [int] NOT NULL,
	[IDUSUARIO] [int] NULL,
	[NOMECLASSE] [varchar](100) NULL,
	[TABELA] [nchar](50) NULL,
	[DESCRICAO] [varchar](50) NULL,
	[ATIVO] [bit] NULL,
	[IDSEGFORM] [int] NULL,
 CONSTRAINT [PK_DRFILTRO] PRIMARY KEY CLUSTERED 
(
	[IDFILTRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DREMPRESA]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DREMPRESA](
	[IDEMPRESA] [int] NOT NULL,
	[NOME] [varchar](60) NULL,
	[ENDERECO] [varchar](50) NULL,
	[NUMERO] [int] NULL,
	[COMPLEMENTO] [varchar](15) NULL,
	[TELEFONE1] [varchar](13) NULL,
	[TELEFONE2] [varchar](60) NULL,
	[BAIRRO] [varchar](40) NULL,
	[CIDADE] [varchar](50) NULL,
	[ESTADO] [varchar](2) NULL,
	[CEP] [varchar](13) NULL,
	[LOGO] [varbinary](max) NULL,
	[EMAIL] [varchar](60) NULL,
 CONSTRAINT [PKDREMPRESA] PRIMARY KEY CLUSTERED 
(
	[IDEMPRESA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRFORNECEDOR]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRFORNECEDOR](
	[CODFORNECEDOR] [int] NOT NULL,
	[NOMEFANTASIA] [varchar](60) NULL,
	[NOME] [varchar](60) NULL,
	[PFISICAJURIDICA] [char](1) NULL,
	[CPFCNPJ] [varchar](20) NULL,
	[CEP] [varchar](9) NULL,
	[ENDERECO] [varchar](60) NULL,
	[NUMERO] [varchar](8) NULL,
	[COMPLEMENTO] [varchar](30) NULL,
	[BAIRRO] [varchar](60) NULL,
	[CIDADE] [varchar](60) NULL,
	[ESTADO] [char](10) NULL,
	[TELEFONE] [varchar](15) NULL,
	[CELULAR] [varchar](15) NULL,
	[FAX] [varchar](15) NULL,
	[EMAIL] [varchar](60) NULL,
	[CONTATO] [varchar](60) NULL,
 CONSTRAINT [PK_DRFORNECEDOR] PRIMARY KEY CLUSTERED 
(
	[CODFORNECEDOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRCOTAS]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRCOTAS](
	[CODIGOPRJ] [int] NOT NULL,
	[IDCOTA] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NULL,
	[OBSERVACAO] [varchar](240) NULL,
	[VALORPREVISTO] [decimal](15, 4) NULL,
	[PERCENTUAPROJETO] [decimal](15, 4) NULL,
 CONSTRAINT [PKDRCOTAS] PRIMARY KEY CLUSTERED 
(
	[CODIGOPRJ] ASC,
	[IDCOTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DROBRAINVESTIDOR]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DROBRAINVESTIDOR](
	[CODINVESTIDOR] [int] NOT NULL,
	[CODIGOPRJ] [int] NOT NULL,
	[VALORPREVISTOINVESTI] [numeric](15, 2) NULL,
	[APARTAMENTO] [varchar](40) NULL,
	[PERCENTADQUIRIDO] [float] NULL,
	[FRACAOOBRA] [float] NULL,
	[IDCOTA] [int] NULL,
 CONSTRAINT [PK_DROBRAINVESTIDOR_] PRIMARY KEY CLUSTERED 
(
	[CODINVESTIDOR] ASC,
	[CODIGOPRJ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRPERMISSAOUSER]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRPERMISSAOUSER](
	[IDUSUARIO] [int] NOT NULL,
	[IDSEGURANCA] [int] NOT NULL,
	[SEGURANCA] [varchar](50) NULL,
 CONSTRAINT [PK_DRPERMISSAOUSER] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC,
	[IDSEGURANCA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRRENDIMENTO]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRRENDIMENTO](
	[CODIGOPRJ] [int] NOT NULL,
	[IDRENDIMENTO] [int] NOT NULL,
	[VALORRENDIMENTO] [numeric](18, 4) NOT NULL,
	[MES] [smallint] NULL,
	[DATAAPURACAO] [datetime] NULL,
 CONSTRAINT [PKDRRENDIMENTO] PRIMARY KEY CLUSTERED 
(
	[CODIGOPRJ] ASC,
	[IDRENDIMENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRETAPA]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRETAPA](
	[CODIGOPRJ] [int] NOT NULL,
	[CODETAPA] [varchar](25) NOT NULL,
	[DESCRICAO] [varchar](60) NULL,
	[MOSTRARGRAFICO] [bit] NULL,
 CONSTRAINT [PK_DRETAPA] PRIMARY KEY CLUSTERED 
(
	[CODIGOPRJ] ASC,
	[CODETAPA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRATIVIDADE]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRATIVIDADE](
	[CODIGOPRJ] [int] NOT NULL,
	[CODATIVIDADE] [varchar](25) NOT NULL,
	[CODETAPA] [varchar](25) NOT NULL,
	[DESCRICAO] [varchar](60) NOT NULL,
	[OBSERVACAO] [varchar](100) NULL,
	[DATAINI] [datetime] NULL,
	[DATATERMINO] [datetime] NULL,
	[UNIDADE] [varchar](5) NULL,
	[QTD] [float] NULL,
	[PRECOUNITARIOMATERIAL] [numeric](15, 2) NULL,
	[PRECOUNITARIOMAOOBRA] [numeric](15, 2) NULL,
	[TOTAL] [numeric](15, 2) NULL,
	[STATUS] [char](1) NOT NULL,
	[PERCENTUALCOMPLETUDE] [smallint] NULL,
	[TOTALGERAL] [numeric](15, 2) NULL,
 CONSTRAINT [PK_DRATIVIDADE] PRIMARY KEY CLUSTERED 
(
	[CODIGOPRJ] ASC,
	[CODATIVIDADE] ASC,
	[CODETAPA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRPATRIMONIO]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRPATRIMONIO](
	[CODIGOPRJ] [int] NOT NULL,
	[IDPATRIMONIO] [int] NOT NULL,
	[CODETAPA] [varchar](25) NULL,
	[CODATIVIDADE] [varchar](25) NULL,
	[CODFORNECEDOR] [int] NULL,
	[DATAAQUISICAO] [datetime] NOT NULL,
	[PATRIMONIO] [varchar](100) NULL,
	[QTDPAT] [int] NULL,
	[VALORAQUISICAO] [numeric](18, 4) NOT NULL,
	[VALORTOTAL] [numeric](18, 4) NOT NULL,
	[OBSERVACAO] [varchar](100) NULL,
 CONSTRAINT [PKDRPATRIMONIO] PRIMARY KEY CLUSTERED 
(
	[CODIGOPRJ] ASC,
	[IDPATRIMONIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRPAGAMENTOINVESTIDOR]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRPAGAMENTOINVESTIDOR](
	[IDPAGAMENTO] [int] NOT NULL,
	[CODINVESTIDOR] [int] NOT NULL,
	[CODIGOPRJ] [int] NOT NULL,
	[VALOR] [numeric](15, 2) NULL,
	[DATAPAG] [datetime] NULL,
	[OBS] [varchar](100) NULL,
	[STATUS] [char](1) NULL,
	[USUARIOINCLU] [varchar](10) NULL,
	[USUARIOAPROV] [varchar](10) NULL,
	[DATAAPROVACAO] [datetime] NULL,
 CONSTRAINT [PK_DRPAGAMENTOINVESTIDOR] PRIMARY KEY CLUSTERED 
(
	[IDPAGAMENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRFILTROCONDICAO]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRFILTROCONDICAO](
	[IDFILTRO] [int] NOT NULL,
	[IDLINHA] [int] NOT NULL,
	[CONDICAO] [varchar](100) NULL,
	[CONDICAOVISUALIZADA] [varchar](100) NULL,
	[TIPOCAMPO] [varchar](30) NULL,
	[DESCRICAO] [varchar](100) NULL,
	[OPERADOR] [varchar](50) NULL,
 CONSTRAINT [PK_DRFILTROCONDICAO] PRIMARY KEY CLUSTERED 
(
	[IDFILTRO] ASC,
	[IDLINHA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DRDESPESA]    Script Date: 09/06/2011 23:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRDESPESA](
	[CODIGOPRJ] [int] NOT NULL,
	[IDDESPESA] [int] NOT NULL,
	[CODETAPA] [varchar](25) NULL,
	[CODFORNECEDOR] [int] NULL,
	[DESCRICAO] [varchar](60) NULL,
	[OBSERVACAO] [varchar](150) NULL,
	[STATUS] [char](1) NULL,
	[DATAINCLUSAO] [datetime] NOT NULL,
	[DATAPAG] [datetime] NULL,
	[VALOR] [numeric](15, 2) NULL,
	[NUMERONOTA] [varchar](20) NULL,
	[CODATIVIDADE] [varchar](25) NULL,
	[USUARIOINCLU] [varchar](10) NOT NULL,
	[USUARIOAPROVACAO] [varchar](10) NULL,
	[TIPODESPESA] [smallint] NULL,
 CONSTRAINT [PK_DRDESPESA] PRIMARY KEY CLUSTERED 
(
	[CODIGOPRJ] ASC,
	[IDDESPESA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_DRATIVIDADE_DRETAPA]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRATIVIDADE]  WITH CHECK ADD  CONSTRAINT [FK_DRATIVIDADE_DRETAPA] FOREIGN KEY([CODIGOPRJ], [CODETAPA])
REFERENCES [dbo].[DRETAPA] ([CODIGOPRJ], [CODETAPA])
GO
ALTER TABLE [dbo].[DRATIVIDADE] CHECK CONSTRAINT [FK_DRATIVIDADE_DRETAPA]
GO
/****** Object:  ForeignKey [FKDRCOTAS_DRPROJETO]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRCOTAS]  WITH CHECK ADD  CONSTRAINT [FKDRCOTAS_DRPROJETO] FOREIGN KEY([CODIGOPRJ])
REFERENCES [dbo].[DRPROJETO] ([CODIGOPRJ])
GO
ALTER TABLE [dbo].[DRCOTAS] CHECK CONSTRAINT [FKDRCOTAS_DRPROJETO]
GO
/****** Object:  ForeignKey [FKDRDESPESA_DRFORNECEDOR]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRDESPESA]  WITH CHECK ADD  CONSTRAINT [FKDRDESPESA_DRFORNECEDOR] FOREIGN KEY([CODFORNECEDOR])
REFERENCES [dbo].[DRFORNECEDOR] ([CODFORNECEDOR])
GO
ALTER TABLE [dbo].[DRDESPESA] CHECK CONSTRAINT [FKDRDESPESA_DRFORNECEDOR]
GO
/****** Object:  ForeignKey [FK_DRETAPA_DRPROJETO]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRETAPA]  WITH CHECK ADD  CONSTRAINT [FK_DRETAPA_DRPROJETO] FOREIGN KEY([CODIGOPRJ])
REFERENCES [dbo].[DRPROJETO] ([CODIGOPRJ])
GO
ALTER TABLE [dbo].[DRETAPA] CHECK CONSTRAINT [FK_DRETAPA_DRPROJETO]
GO
/****** Object:  ForeignKey [FK_DRFILTRO_DRFILTROCONDICAO]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRFILTROCONDICAO]  WITH NOCHECK ADD  CONSTRAINT [FK_DRFILTRO_DRFILTROCONDICAO] FOREIGN KEY([IDFILTRO])
REFERENCES [dbo].[DRFILTRO] ([IDFILTRO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DRFILTROCONDICAO] CHECK CONSTRAINT [FK_DRFILTRO_DRFILTROCONDICAO]
GO
/****** Object:  ForeignKey [FK_DROBRAINVESTIDOR_DRINVESTIDOR]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DROBRAINVESTIDOR]  WITH CHECK ADD  CONSTRAINT [FK_DROBRAINVESTIDOR_DRINVESTIDOR] FOREIGN KEY([CODINVESTIDOR])
REFERENCES [dbo].[DRINVESTIDORES] ([CODINVESTIDOR])
GO
ALTER TABLE [dbo].[DROBRAINVESTIDOR] CHECK CONSTRAINT [FK_DROBRAINVESTIDOR_DRINVESTIDOR]
GO
/****** Object:  ForeignKey [FK_DROBRAINVESTIDOR_DRPROJETO]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DROBRAINVESTIDOR]  WITH CHECK ADD  CONSTRAINT [FK_DROBRAINVESTIDOR_DRPROJETO] FOREIGN KEY([CODIGOPRJ])
REFERENCES [dbo].[DRPROJETO] ([CODIGOPRJ])
GO
ALTER TABLE [dbo].[DROBRAINVESTIDOR] CHECK CONSTRAINT [FK_DROBRAINVESTIDOR_DRPROJETO]
GO
/****** Object:  ForeignKey [FKDRCOTAS_DROBRAINVESTIDOR]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DROBRAINVESTIDOR]  WITH CHECK ADD  CONSTRAINT [FKDRCOTAS_DROBRAINVESTIDOR] FOREIGN KEY([CODIGOPRJ], [IDCOTA])
REFERENCES [dbo].[DRCOTAS] ([CODIGOPRJ], [IDCOTA])
GO
ALTER TABLE [dbo].[DROBRAINVESTIDOR] CHECK CONSTRAINT [FKDRCOTAS_DROBRAINVESTIDOR]
GO
/****** Object:  ForeignKey [FKDRPAGAMENTOINVESTIDOR_OBRAINVESTIDOR]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRPAGAMENTOINVESTIDOR]  WITH CHECK ADD  CONSTRAINT [FKDRPAGAMENTOINVESTIDOR_OBRAINVESTIDOR] FOREIGN KEY([CODINVESTIDOR], [CODIGOPRJ])
REFERENCES [dbo].[DROBRAINVESTIDOR] ([CODINVESTIDOR], [CODIGOPRJ])
GO
ALTER TABLE [dbo].[DRPAGAMENTOINVESTIDOR] CHECK CONSTRAINT [FKDRPAGAMENTOINVESTIDOR_OBRAINVESTIDOR]
GO
/****** Object:  ForeignKey [FKDRPATRIMONIO_DRATIVIDADE]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRPATRIMONIO]  WITH CHECK ADD  CONSTRAINT [FKDRPATRIMONIO_DRATIVIDADE] FOREIGN KEY([CODIGOPRJ], [CODATIVIDADE], [CODETAPA])
REFERENCES [dbo].[DRATIVIDADE] ([CODIGOPRJ], [CODATIVIDADE], [CODETAPA])
GO
ALTER TABLE [dbo].[DRPATRIMONIO] CHECK CONSTRAINT [FKDRPATRIMONIO_DRATIVIDADE]
GO
/****** Object:  ForeignKey [FKDRPATRIMONIO_DRFORNECEDOR]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRPATRIMONIO]  WITH CHECK ADD  CONSTRAINT [FKDRPATRIMONIO_DRFORNECEDOR] FOREIGN KEY([CODFORNECEDOR])
REFERENCES [dbo].[DRFORNECEDOR] ([CODFORNECEDOR])
GO
ALTER TABLE [dbo].[DRPATRIMONIO] CHECK CONSTRAINT [FKDRPATRIMONIO_DRFORNECEDOR]
GO
/****** Object:  ForeignKey [FK_DRUSUARIO_DRPERMISSAOUSER]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRPERMISSAOUSER]  WITH CHECK ADD  CONSTRAINT [FK_DRUSUARIO_DRPERMISSAOUSER] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[DRUSUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[DRPERMISSAOUSER] CHECK CONSTRAINT [FK_DRUSUARIO_DRPERMISSAOUSER]
GO
/****** Object:  ForeignKey [FKDRRENDIMENTO_DRPROJETO]    Script Date: 09/06/2011 23:56:02 ******/
ALTER TABLE [dbo].[DRRENDIMENTO]  WITH CHECK ADD  CONSTRAINT [FKDRRENDIMENTO_DRPROJETO] FOREIGN KEY([CODIGOPRJ])
REFERENCES [dbo].[DRPROJETO] ([CODIGOPRJ])
GO
ALTER TABLE [dbo].[DRRENDIMENTO] CHECK CONSTRAINT [FKDRRENDIMENTO_DRPROJETO]
GO
